*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  width: 100dvw;
  height: 100dvh;
  overflow: auto;
}

#root {
  width: 100dvw;
  height: 100vh;
  overflow: auto;
}

code {
  font-family: monospace;
}